*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;

}
.main{
    width: 100vh;
    height: 10vh;
    background-color: #cecece;
    display: flex;
    justify-content: center;
    align-items: center;

}
.clock{
    width: 40rem;
    height: 40rem;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0,-15px,10px rgba(0,0,0,0,103),inset 0-15px 10px rgba(0, 0,0, 0.103),0 15px
    15px white rgba(255, 255, 255, 0.322)
}